#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.right {
  display: grid;
}

.right > .message-container {
  border-radius: 10px;
  border-top-right-radius: 2px;
}

.message-container {
  background-color: darkslategray;
  display: grid;
  justify-self: right;
  width: 200px;
  padding: 10px;
  margin: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  border-top-left-radius: 2px;
}

.user {
  margin-bottom: 5px;
}

.message {
  overflow-wrap: anywhere;
}

.content {
  display: grid;
  grid-auto-flow: row;
}

.time {
  text-align: right;
  margin-top: 5px;
}

.new-message {
  margin-top: 20px;
  margin-bottom: 15px;
}

.send {
  display: grid;
}

.send-button {
  margin-bottom: 15px;
  justify-self: center;
}

.messages::after {
  content: "";
  clear: both;
  display: table;
}
